.site-footer {
	background-color: #f3f3f3;
	border: 1px solid #ebebeb;
}
.footer-inner{
    display: flex;
    padding: 56px 0 69px;
}
.footer__list {
    padding-left: 57px;
	margin: 0;
}
.footer__list + .footer__list{
    padding-left: 75px;
}
.footer__item {
    margin-bottom: 14px;
	list-style: none;
}
.footer__link {
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #333333;
}
.footer-top {
    margin-left: 157px;
    
	display: flex;
	justify-content: space-between;
	
}
.footer-top__adress {
    margin-left: 7px;
    width: 146px;
	position: relative;
	
}
.header-top__adress::before {
    position: absolute;
    width: 14px;
    height: 13px;
    background-image: url(../../images/house.svg);
    background-repeat: no-repeat;
    top: calc(7%);
    left: calc(-9%);
    content: "";
}
.adress__text {
	margin: 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	color: #333333;
}
.footer-top__tel{
    margin-left: 117px;
}
.footer-top__tel::before{
    position: absolute;
    width: 14px;
    height: 13px;
    background-image: url(../../images/phone.svg);
    background-repeat: no-repeat;
    top: 17px;
    left: 642px;
    content: "";
}
.footer-top__tel + .header-top__tel::after{
    position: absolute;
    width: 14px;
    height: 13px;
    background-image: url(../../images/Ellipse.svg);
    background-repeat: no-repeat;
    top: calc(4.5%);
    left: calc(42.3%);
    content: "";
}
.tell__link {
    display: block;
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
}

.header-top__time {
	display: flex;
	margin-left: 99px;
}
.timee__span {
	display: flex;
}
.timee__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	color: #333333;
}
time {
    margin-right: 137px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	color: #333333;
}
